@font-face {
  font-family: "Cheri Regular";
  src: url(fonts/CHERI.TTF);
}

* {
  margin: 0;
  padding: 0;
}

html {
  cursor: url("images/cursors/cherry.png"), pointer;
  background-color: #ffd4e0;
}

div.title {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -25px;
}
div.title h1.text {
  color: #7d5f4c;
  font-family: "Cheri Regular", sans-serif;
  font-size: 75px;
  text-shadow: 20px 20px 2px #fcc0d1;
}
div.title img {
  height: 50%;
  margin: 0px 10px;
}

div.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 25px;
  color: #ff87a9;
  margin-bottom: 30px;
}

div.container {
  display: flex;
  justify-content: center;
}

div.ytbox {
  width: 420px;
  height: 340px;
}
div.ytbox iframe {
  width: 100%;
  height: 315px;
}

div.deco {
  width: 200px;
  margin: 60px 0px 0px 20px;
}
div.deco img {
  max-width: 100%;
}
div.deco img.timg {
  margin-left: 25px;
  margin-bottom: 20px;
  rotate: -15deg;
}
div.deco img.simg {
  margin-left: 125px;
}
div.deco img.fimg {
  margin-top: 35px;
  rotate: 10deg;
}

div.catsbox {
  width: 500px;
  margin-left: 110px;
}
div.catsbox img {
  max-width: 100%;
}

div.ytbox h1.text,
div.catsbox h1.text {
  color: #ff5778;
}

div.pinterestlink {
  width: 475px;
}
div.pinterestlink img {
  max-width: 100%;
  margin-top: 50px;
}

#cat {
  width: 60px;
  height: 60px;
  background-image: url(https://25.media.tumblr.com/11c0e3102a51c848f61976df8280827c/tumblr_mib819Yg8s1s5jjtzo1_500.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  left: 30px;
}
