@font-face {
  font-family: "Cheri Regular";
  src: url(fonts/CHERI.TTF);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  background-color: #ffd4e0;
  cursor: url("images/cursors/cherry.png"), pointer;
}

div.flyingcat {
  width: 60px;
  height: 60px;
  background-image: url(https://25.media.tumblr.com/11c0e3102a51c848f61976df8280827c/tumblr_mib819Yg8s1s5jjtzo1_500.png);
  background-size: contain;
  background-repeat: no-repeat;
  animation: fly 50s linear infinite;
  transform: translateX(-120%) translateY(-120%) rotateZ(0);
  position: fixed;
  animation-delay: 1s;
  z-index: 999999;
}

@keyframes fly {
  98.001%,
  0% {
    display: block;
    transform: translateX(-200%) translateY(100vh) rotateZ(0deg);
  }

  15% {
    transform: translateX(100vw) translateY(-100%) rotateZ(180deg);
  }

  15.001%,
  18% {
    transform: translateX(100vw) translateY(-30%) rotateZ(0deg);
  }

  40% {
    transform: translateX(-200%) translateY(3vh) rotateZ(-180deg);
  }

  40.001%,
  43% {
    transform: translateX(-200%) translateY(-100%) rotateZ(-180deg);
  }

  65% {
    transform: translateX(100vw) translateY(50vh) rotateZ(0deg);
  }

  65.001%,
  68% {
    transform: translateX(20vw) translateY(-200%) rotateZ(180deg);
  }

  95% {
    transform: translateX(10vw) translateY(100vh) rotateZ(0deg);
  }
}

div.title {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -25px;
  user-select: none;
}
div.title h1 {
  color: #7d5f4c;
  font-family: "Cheri Regular", sans-serif;
  font-size: 75px;
  text-shadow: 20px 20px 2px #fcc0d1;
}
div.title img {
  height: 50%;
  margin: 0px 10px;
}

div.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 25px;
  color: #ff87a9;
  margin-bottom: 30px;
}

div.container {
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
}

div.ytbox {
  height: 100%;
}

div.deco {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.deco img {
  max-width: 100%;
}
div.deco img.img1 {
  margin-right: 150px;
  rotate: 10deg;
}
div.deco img.img2 {
  margin-top: 40px;
  margin-left: 150px;
  rotate: -15deg;
}
div.deco img.img3 {
  margin-top: 58px;
  margin-right: 75px;
  rotate: 5deg;
}

div.catsbox img {
  width: 500px;
}

div.ytbox h1,
div.catsbox h1 {
  color: #ff5778;
}

div.pinterestlink {
  width: 475px;
  margin-top: -125px;
}

div.pinterestlink img {
  max-width: 100%;
}
