@font-face {
  font-family: "Cheri Regular";
  src: url(fonts/CHERI.TTF);
}

body {
  background-color: #ffd4e0;
}

html {
  cursor: url("images/cursors/cherry.png"), pointer;
}

div.title {
  width: 100vw;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.title h1.text {
  font-family: "Cheri Regular", sans-serif;
  font-size: 75px;
  text-shadow: 20px 20px 2px #fcc0d1;
  color: #7d5f4c;
}

div.title img {
  padding-left: 25px;
  height: 50%;
}

div.subtitle {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: #ff87a9;
}

div.yt-embed h1.text {
  color: #ff5778;
}
